/* Side navigation menu */
.menu {
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: #1B2631;
    border-bottom: 3px solid #616A6B;
    z-index: 3;
}

li {
    list-style-type: none;
    float: right;
}

/* Menu Links */
li a {
    display: block;
    color: #E5E8E8;
    padding: 40px 25px;
    font-family: "Rockwell";
    font-size: 15px;
    text-decoration: none;
}

/* Active/current link */
li a.active {
    background-color: #2ECC71;
    font-weight: bold;
    color: white;
}

/* Links on mouse-over */
li a:hover:not(.active) {
    color: #2ECC71;
    transition: 250ms ease-in-out;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    height: 100vh;
    width: 100vw;
    margin-top: 95px;
    padding: 1px 16px;
    background-color: #1B2631;
}

div a.bi-linkedin {
    font-size: 4rem;
    color: #424949;
}

div a.bi-linkedin:hover {
    color: #177ED8;
    transition: 250ms ease-in-out;
}

/* Header content */
.header {
    top: 95px;
    padding-top: 80px;
}

/* Homepage Heading 1/2 */
.home_head1 {
    font-family: "Rockwell";
    font-size: 55px;
    color: white;
    background: none;
}

/* Homepage Heading 2/2 */
.home_head2 {
    font-family: "Rockwell";
    font-size: 50px;
    color: #616A6B;
    background: none;
}

/* Homepage body */
.home_p {
    font-family: "Rockwell";
    font-size: 13px;
    color: #E5E8E8;
    margin-top: 15px;
    letter-spacing: 0.2px;
    line-height: 1.8;
}

#pop {
    font-size: 15px;
    color: #2ECC71;
}

.container {
    padding-right: 300px;
    padding-top: 0px;
    padding-bottom: 25px;
    width: 100%;
    margin: 0 auto;
    max-width: 725px;
    float: right;
}

.image_stack::after {
    content: ' ';
    display: table;
    clear: both;
}

.image_stack-item_top {
    transform: scaleX(-1);
    float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 15%;
    position: relative;
    z-index: 1;
}

.image_stack-item_bottom {
    float: right;
    width: 45%;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .menu li a {
        text-align: center;
        float: none;
    }
    .menu li a {float:left;}
    div.content {margin-left: 0;}
}
